.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.wrapper {
  position: relative;
  overflow-x: hidden;
}
/*
.content {
  position: absolute;
  top: 50%;
  left: 300px;
  color: #000;
  z-index: 2;
  width: 100%;
}
*/

